<div class="container__big-card">

  <div class="big-card__photo">
    <img
    src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/AED07A4BEFCAD750C7C2B03E648A1C3D06C2AEFCFE20D6A19F2F6ECE6584F521/scale?width=1200&aspectRatio=1.78&format=jpeg"
    alt=""
    height="200px"
    width="380px"
    srcset=""
    >
  </div>

    <div class="big-card__title">
      <h1><a href="#">Saiu a nova versão do angular</a></h1>
    </div>

    <div class="big-card__description">
      <p>
        <a href="#">
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
      </a>
      </div>


</div>
